Package: me.luki.amelija
Name: Amēlija
Version: 1.0.4
Architecture: iphoneos-arm
Description: Take full control of your wallpapers on the fly
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
