Package: me.luki.amelija
Name: Amēlija
Version: 2.0
Architecture: iphoneos-arm
Description: Take full control of your wallpapers on the fly
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
Icon: https://raw.githubusercontent.com/Luki120/Amelija/main/Am%C4%93lijaPrefs/Resources/Assets/AMHotIcon.png
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.amelija
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.amelija/depiction.json
