<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Maybe</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AmelijaTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.amēlijaprefs</string>
			<key>action</key>
			<string>discord</string>
			<key>label</key>
			<string>Chat With Us On Discord</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AmelijaTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.amēlijaprefs</string>
			<key>action</key>
			<string>paypal</string>
			<key>label</key>
			<string>Donate To Luki 🥰</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AmelijaTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.amēlijaprefs</string>
			<key>action</key>
			<string>github</string>
			<key>label</key>
			<string>Source Code 🔥</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>You Might Like</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AmelijaTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.amēlijaprefs</string>
			<key>action</key>
			<string>april</string>
			<key>label</key>
			<string>April</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>AmelijaTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.luki.amēlijaprefs</string>
			<key>action</key>
			<string>arizona</string>
			<key>label</key>
			<string>Arizona</string>
		</dict>
	</array>
	<key>title</key>
	<string>April</string>
</dict>
</plist>