<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>HS</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>me.luki.amēlijaprefs</string>
				<key>key</key>
				<string>hsBlur</string>
				<key>label</key>
				<string>Blur</string>
				<key>id</key>
				<string>MiscHSBlursSwitch</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>id</key>
				<string>GroupCell-7</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>defaults</key>
				<string>me.luki.amēlijaprefs</string>
				<key>id</key>
				<string>MiscHSBlursList</string>
				<key>default</key>
				<integer>0</integer>
				<key>key</key>
				<string>hsBlurType</string>
				<key>label</key>
				<string>Blur Types</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Epic</string>
					<string>Dark</string>
					<string>Light</string>
					<string>Adaptive</string>
					<string>Promiment</string>
					<string>System Thin</string>
					<string>System Ultra Thin</string>
					<string>System Chrome Material</string>
				</array>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>This slider controls the intensity (alpha) of the blur</string>
				<key>id</key>
				<string>GroupCell-8</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>default</key>
				<real>1</real>
				<key>defaults</key>
				<string>me.luki.amēlijaprefs</string>
				<key>key</key>
				<string>hsIntensity</string>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>1</real>
				<key>showValue</key>
				<true/>
				<key>id</key>
				<string>SliderCell-4</string>
			</dict>
		</array>
		<key>title</key>
		<string>Amēlija</string>
	</dict>
</plist>